<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.oomph.internal.ui.OomphPreferencePage"
            id="org.eclipse.oomph.ui.preferences.OomphPreferencePage"
            name="Oomph">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.oomph.importWizards"
            name="Oomph">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.oomph.views"
            name="Oomph">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.oomph.commands"
            name="Oomph">
      </category>
      <command
            categoryId="org.eclipse.oomph.commands"
            id="org.eclipse.oomph.ui.ToggleOfflineMode"
            name="Toggle Offline Mode">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.oomph.internal.ui.ToggleOfflineModeHandler"
            commandId="org.eclipse.oomph.ui.ToggleOfflineMode">
      </handler>
   </extension>

   <!--extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.oomph.ui.ToggleOfflineMode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension-->

   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.oomph.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.eclipse.oomph.ui.ToggleOfflineMode"
                  id="org.eclipse.oomph.ui.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution-->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.oomph.ui.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.oomph.ui.ToggleOfflineMode"
                  icon="icons/offline.gif"
                  id="org.eclipse.oomph.ui.toolbars.sampleCommand"
                  style="toggle"
                  tooltip="Offline">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
