.theme {
	--background-color: #f8f8f8ff;
	--color: #000000;
}

body {
	color: var(--color);
	background-color: var(--background-color);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 0.5em 0.5em;
	line-height: 1.428;
}

th,
td {
	border: 1px solid var(--color);
	text-align: left;
	padding: 0.2ex 1em;
}

table {
	border: 1px solid var(--color);
	border-collapse: collapse;
	margin-bottom: 2ex;
	white-space: nowrap;
}

.button a {
	text-decoration: none;
}

.button a,
.button a:visited,
.button a:hover,
.button a:active {
	color: inherit;
}

label {
	white-space: nowrap;
}

.button {
	padding: 0.3em 0.4em;
	color: white;
	background: #f06c00;
}

.section {
	margin-bottom: 0.7em;
}

.button-section {
	white-space: nowrap;
	margin-bottom: 0.7em;
}

code {
	font-size: 90%;
	padding: 1px 4px;
}

code {
	background-color: #f9f2f4;
	border-radius: 0;
	color: #c7254e;
}

code {
	font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}