<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014, 2016 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.oomph"
            name="Oomph">
      </category>
      <wizard
            category="org.eclipse.oomph"
            class="org.eclipse.oomph.setup.ui.internal.ide.SetupTaskWizard"
            icon="icons/extension_project.gif"
            id="org.eclipse.oomph.setup.ui.ide.ModelExtensionWizard"
            name="Setup Task Extension"
            project="true">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.stringVariablePresentations">
      <variablePresentation
            argumentSelector="org.eclipse.oomph.setup.ui.internal.ide.URIArgumentSelector$ExtensionFactory"
            variableName="file_uri"/>
      <variablePresentation
            argumentSelector="org.eclipse.oomph.setup.ui.internal.ide.ActiveMylynTaskArgumentSelector"
            variableName="active_mylyn_task"/>
   </extension>

</plugin>
