<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="SetupEditorAdvisorApplication">
      <!-- @generated setup-rcp -->
      <application>
         <run class="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated setup-rcp -->
      <perspective
            name="%_UI_Perspective_label"
            class="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisor$Perspective"
            id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated setup-rcp -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated setup-rcp -->
      <key
            commandId="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated setup-rcp -->
      <actionSet
            label="%_UI_SetupEditorAdvisor_ActionSet_label"
            visible="true"
            id="SetupEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenURICommand"
               class="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenCommand"
               class="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="org.eclipse.oomph.setup.installer.editor.SetupEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated setup-rcp -->
      <editor
            id="org.eclipse.oomph.setup.installer.editor.SetupEditorID"
            name="%_UI_SetupEditor_label"
            icon="icons/full/obj16/SetupModelFile.gif"
            extensions="setup"
            class="org.eclipse.oomph.setup.installer.editor.SetupEditor"
            contributorClass="org.eclipse.oomph.setup.installer.editor.SetupActionBarContributor">
      </editor>
   </extension>

</plugin>
