<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v2.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v20.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.oomph.projectconfig.keywords"
            label="%projectconfig.preferenceKeywords"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.oomph.ui.preferences.OomphPreferencePage"
            class="org.eclipse.oomph.projectconfig.presentation.ProjectConfigPreferencePage"
            id="org.eclipse.oomph.projectconfig.presentation.ProjectConfigPreferencePage"
            name="%projectconfigPreference.name">
         <keywordReference id="org.eclipse.oomph.projectconfig.keywords"/>
      </page>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated projectconfig -->
      <editor
            id="org.eclipse.oomph.projectconfig.presentation.ProjectConfigEditorID"
            name="%_UI_ProjectConfigEditor_label"
            icon="icons/full/obj16/ProjectConfigModelFile.gif"
            extensions="projectconfig"
            class="org.eclipse.oomph.projectconfig.presentation.ProjectConfigEditor"
            contributorClass="org.eclipse.oomph.projectconfig.presentation.ProjectConfigActionBarContributor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.oomph.projectconfig.editor.commands.category"
            name="%projectconfig.category.name">
      </category>
      <command
            categoryId="org.eclipse.oomph.projectconfig.editor.commands.category"
            id="org.eclipse.oomph.projectconfig.editor.commands.ApplyPreferenceProfiles"
            name="%applyProjectConfiguration.label">
      </command>
      <command
            categoryId="org.eclipse.oomph.projectconfig.editor.commands.category"
            id="org.eclipse.oomph.projectconfig.editor.commands.Navigate"
            name="%navigate.label">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.oomph.projectconfig.presentation.handlers.ApplyPreferenceProfilesHandler"
            commandId="org.eclipse.oomph.projectconfig.editor.commands.ApplyPreferenceProfiles">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="view:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
              commandId="org.eclipse.oomph.projectconfig.editor.commands.ApplyPreferenceProfiles"
              id="org.eclipse.oomph.projectconfig.editor.menus.ApplyPreferenceProfiles"
              mnemonic="%navigate.mnemonic">
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.oomph.projectconfig.presentation.handlers.NavigateHandler"
            commandId="org.eclipse.oomph.projectconfig.editor.commands.Navigate">
      </handler>
   </extension>

   <extension point="org.eclipse.ui.contexts">
      <context
         description="%editProjectConfig.context.description"
         id="org.eclipse.oomph.projectconfig.editor.context"
         name="%editProjectConfig..context.name"
         parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.oomph.projectconfig.editor.commands.Navigate"
            contextId="org.eclipse.oomph.projectconfig.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>

   <extension
         point="org.eclipse.oomph.ui.deferredEarlyStart">
      <startup class="org.eclipse.oomph.projectconfig.presentation.sync.ProjectConfigSynchronizer"/>
   </extension>

</plugin>
