<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014, 2016 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Mylyn -->
      <package
            uri="http://www.eclipse.org/oomph/setup/mylyn/1.0"
            class="org.eclipse.oomph.setup.mylyn.MylynPackage"
            genModel="model/Mylyn.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Returns various attributes of the active Mylyn task. The following (optional) arguments are supported: Id, Key, Url, Kind, Owner, OwnerId, Priority, RepositoryUrl, Summary, ConnectorKind, HandleIdentifier, CreationDate, CreationTime, CompletionDate, CompletionTime, DueDate, DueTime, ModificationDate, ModificationTime, @attribute. This variable is contributed by Oomph."
            name="active_mylyn_task"
            resolver="org.eclipse.oomph.setup.mylyn.ActiveMylynTaskVariableResolver"
            supportsArgument="true"/>
   </extension>

</plugin>
