<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         id="VersionNature"
         name="Version Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.oomph.internal.version.VersionNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.oomph.version.VersionBuilder">
      </builder>
   </extension>

   <extension
         id="VersionBuilder"
         name="Version Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.eclipse.oomph.internal.version.VersionBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="VersionProblem"
         name="Version Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
