<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v2.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v20.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Maven -->
      <package
            uri="http://www.eclipse.org/oomph/setup/maven/1.0"
            class="org.eclipse.oomph.setup.maven.MavenPackage"
            genModel="model/Maven.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%OomphCommand_category"
            id="org.eclipse.oomph">
      </category>
      <command
            categoryId="org.eclipse.oomph"
            defaultHandler="org.eclipse.oomph.setup.maven.util.ConvertM2RepositoryToUTF8Handler"
            id="org.eclipse.oomph.setup.maven.ConvertM2RepositoryToUTF8"
            name="%command.convertM2RepositoryToUTF8.name">
      </command>
   </extension>

</plugin>
