<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014, 2016, 2017 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v2.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v20.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.oomph.ui.deferredEarlyStart">
      <startup class="org.eclipse.oomph.targlets.internal.ui.EarlyStartup"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.oomph.targlets.core.ITargletContainer"
            class="org.eclipse.oomph.targlets.internal.ui.TargletContainerUI">
         <adapter
               type="org.eclipse.jface.viewers.ILabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITreeContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.pde.ui.target.ITargetLocationHandler">
         </adapter>
      </factory>
   </extension>

   <extension
         point="org.eclipse.pde.ui.targetLocationProvisioners">
      <locationProvider
            class="org.eclipse.oomph.targlets.internal.ui.NewTargletContainerWizard"
            icon="icons/targlet_container.gif"
            id="org.eclipse.oomph.targlets.TargletProvisioner"
            name="%targletProvisioner.name">
         <description>
            %targletProvisioner.description
         </description>
      </locationProvider>
   </extension>

   <extension
         point="org.eclipse.oomph.p2.ui.profileTypes">
      <profileType
            icon="icons/Targlet.gif"
            label="Targlet Container Profile"
            name="Targlet">
      </profileType>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.oomph.exportWizards"
            class="org.eclipse.oomph.targlets.internal.ui.wizards.TargetDefinitionExportWizard"
            icon="icons/target_export.gif"
            id="org.eclipse.oomph.targlets.ui.TargetDefinitionExportWizard"
            name="%targetDefinitionExportWizard.name">
         <description>
            %targetDefinitionExportWizard.description
         </description>
      </wizard>
   </extension>

</plugin>
