<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014-2016 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         id="ProductCatalogGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.oomph.setup.internal.installer.ProductCatalogGenerator">
         </run>
      </application>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.oomph.setup.internal.installer.InstallerApplication">
         </run>
      </application>
   </extension>

   <extension id="product" point="org.eclipse.core.runtime.products">
      <product
          name="%product.name"
          description="%product.description"
          application="org.eclipse.oomph.setup.installer.application">
        <property name="appName" value="%application.name"/>
        <property
           name="windowImages"
           value="icons/oomph16.png,icons/oomph32.png,icons/oomph48.png,icons/oomph64.png,icons/oomph128.png,icons/oomph256.png">
        </property>
        <property
           name="titleImage"
           value="icons/simple/title.png">
        </property>
      </product>
   </extension>

</plugin>
