<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Copyright (c) 2014 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated targlets -->
      <package
            uri="http://www.eclipse.org/oomph/targlets/1.0"
            class="org.eclipse.oomph.targlets.TargletPackage"
            genModel="model/Targlets.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="targlet"
            class="org.eclipse.oomph.base.util.BaseResourceFactoryImpl"/>
      <parser
            type="def"
            class="org.eclipse.oomph.base.util.BaseResourceFactoryImpl"/>
      <parser
            type="ext"
            class="org.eclipse.oomph.base.util.BaseResourceFactoryImpl"/>
   </extension>

   <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="targlet"
           id="org.eclipse.oomph.targlets.targlet"
           name="%_UI_Targlet_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/oomph/targlets/1.0">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
   </extension>

   <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="def"
           id="org.eclipse.oomph.targlets.def"
           name="%_UI_ComponentDefinition_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/oomph/targlets/1.0">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
   </extension>

   <extension
        point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="ext"
           id="org.eclipse.oomph.targlets.ext"
           name="%_UI_ComponentExtension_content_type"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/oomph/targlets/1.0">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
   </extension>

</plugin>
