<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Oomph" sequenceNumber="3">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4-201406061215"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group"/>
      <repository location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.builds.sdk.feature.group"/>
      <unit id="org.eclipse.mylyn.sdk_feature.feature.group"/>
      <repository location="http://download.eclipse.org/mylyn/snapshots/weekly"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.feature.feature.group"/>
      <repository location="http://download.eclipse.org/technology/m2e/milestones/1.5"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group"/>
      <repository location="http://hudson.eclipse.org/xtext/job/emf-core/lastSuccessfulBuild/artifact/build-result/p2.repository"/>
    </location>
  </locations>
</target>
